{% load tz %}{% load admin_static %}{% load suit_tags %}{% load url from suit_compat %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0; user-scalable=0;">
  <title>{% block title %}{{ title }}{% endblock %}</title>
  <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% endblock %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'suit/bootstrap/css/bootstrap.min.css' %}" media="all"/>
  <link rel="stylesheet" type="text/css" href="{% static 'suit/css/suit.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="all"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap-checkbox.css' %}" media="all">
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/custom.css' %}" media="all">
  {% block extrastyle %}{% endblock %}
  {% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}"/>{% endif %}
  <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
  <script src="{% static 'suit/js/jquery-1.8.3.min.js' %}"></script>
  <script type="text/javascript">var Suit = { $: $.noConflict() }; if (!$) $ = Suit.$; </script>
  <script src="{% static 'suit/bootstrap/js/bootstrap.min.js' %}"></script>
  {% if 'SHOW_REQUIRED_ASTERISK'|suit_conf %}
  <style type="text/css">.required:after { content: '*'; margin: 0 0 0 5px; position: absolute; color: #ccc;}</style>
  {% endif %}
  {% block extrahead %}{% endblock %}
  {% block blockbots %}
	<meta name="robots" content="NONE,NOARCHIVE"/>{% endblock %}
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Sticky footer wrap -->
<div id="wrap">

  <!-- Container -->
  {% block container %}
	<div id="container">

	  {% block header %}
		{% if not is_popup %}
		  <!-- Header -->
		  <div id="header" class="header">
			<div id="branding">
			  <a href="{% url 'admin:index' %}">{% block branding %}{{ 'ADMIN_NAME'|suit_conf|safe }}{% endblock %}</a>
			</div>

			{% block header_time %}
			<div class="header-content header-content-first">
			  <div class="header-column">
				<span class="date"> {% suit_date %}</span> <i class="fa fa-clock-o"></i> <span class="time" id="clock">{% suit_time %}</span>
			  </div>
			</div>
			{% endblock %}

			{% block header_content %}
			  <!--<div class="header-content">
				<div class="header-column icon">
				  <i class="icon-comment"></i>
				</div>
				<div class="header-column">
				  <a href="" class="grey"><b>2</b> new messages</a>
				</div>
			  </div>-->
			{% endblock %}

			{% if user.is_active and user.is_staff %}
			  <div id="user-tools">
			   <span>
				{% block welcome-msg %}
				  {% trans 'Welcome,' %}
				</span>
				<dl id="user-menu">
					<dt>
					{% filter force_escape %}
						{% firstof user.first_name user.username %}{% endfilter %}
					{% endblock %} <i class="fa fa-caret-down"></i>
					</dt>
					<dd>
						<span class="user-links">
							{% block userlinks %}
							  {% url 'django-admindocs-docroot' as docsroot %}
							  {% if docsroot %}
								<a href="{{ docsroot }}"> <i class="fa fa-file-o"></i> {% trans 'Documentation' %} </a>
							  {% endif %}
							  <a href="{% url 'admin:password_change' %}"> <i class="fa fa-key"></i> {% trans 'Change password' %} </a>
							  <a href="{% url 'admin:logout' %}"><i class="fa fa-power-off"></i> {% trans 'Log out' %} </a>
							{% endblock %}
						</span>
					</dd>
				</dl>
			  </div>
			{% endif %}
			{% block nav-global %}{% endblock %}
		  </div>
		{% endif %}
		<!-- END Header -->
	  {% endblock %}


	  <div class="suit-columns {{ is_popup|yesno:'one-column,two-columns' }}">

		{% block content-center %}
		  <div id="suit-center" class="suit-column">
			{% if not is_popup %}
			  {% block breadcrumbs %}
				<ul class="breadcrumb">
				  <li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
					{% if title %}
					  <span class="divider">&raquo;</span>
					  </li>
					  <li class="active">
					  {{ title }}
					{% endif %}
					</li>
				</ul>
			  {% endblock %}
			{% endif %}

			<h1 class="page-title">{% block h1-title %} {{ title }} {% endblock %}</h1>


			{% block messages %}
			  {% if messages %}

				{% for message in messages %}
				  <div class="alert alert-{% firstof message.tags 'info' %}">
					<button class="close" data-dismiss="alert">×</button>
					{{ message }}
				  </div>
				{% endfor %}
			  {% endif %}
			{% endblock messages %}

			<!-- Content -->
			<div id="content" class="{% block coltype %}colM{% endblock %} row-fluid">
			  {% block pretitle %}{% endblock %}
			  {% block content_title %}{% if title %}
				<h2 class="content-title">{{ title }}</h2>
			  {% endif %}{% endblock %}
			  {% block content %}
				
				{{ content }}
			  {% endblock %}
			  {% block sidebar_content %}
				{% block sidebar %}{% endblock %}
			  {% endblock %}
			</div>
			<!-- END Content -->
		  </div>
		{% endblock %}


		{% block content-left %}
		  {% if not is_popup %}
			<div id="suit-left" class="suit-column">
			  {% block quick-search %}
				{% with 'SEARCH_URL'|suit_conf as search_url %}
				  {% if search_url %}
					<form class="form-search nav-quick-search" autocomplete="off" action="{% if '/' in search_url %}{{ search_url }}{% else %}{% url search_url %}{% endif %}" method="GET">
					  <input type="text" name="q" class="input-medium search-query" placeholder="Buscar" id="quick-search">
					  <i class="fa fa-search"></i>
					  <input type="submit" class="submit" value="">
					</form>
				  {% endif %}
				{% endwith %}
			  {% endblock %}

			  {% include 'suit/menu.html' %}

			</div>
		  {% endif %}
		{% endblock %}

	  </div>
	</div>
  {% endblock %}

  {% if not is_popup %}
  <!-- Sticky footer push -->
  <div id="push"></div>
  {% endif %}

</div>

{% block footer %}
	{% if not is_popup %}
	<div id="footer" class="footer">
		<div class="content">
			<div class="left">
				{% block footer_links %}
					&copy; {% now "Y" %} Upline Virtual. Todos os direitos reservados.
				{% endblock %}
			</div>

			<div class="right">
				{% block copyright %}
					Desenvolvido por <a href="http://www.ohpublicidade.com.br" target="_blank">Oh! Publicidade</a>
				{% endblock %}
			</div>

			<div class="branding">
				<img src="{% static 'admin/images/simbol-footer.png' %}" alt="">
			</div>
		</div>
	</div>
  {% endif %}
{% endblock %}

<script src="{% static 'suit/js/suit.js' %}"></script>
<script src="{% static 'admin/js/custom.js' %}"></script>
{% block extrajs %}{% endblock %}

</body>
</html>