{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load custom_tags %}

{% block extrastyle %}
{{ block.super }}
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block h1-title %} Dashboard {% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media.js }}
  <script type="text/javascript" src="{% static "admin/js/Chart.min.js" %}"></script>
{% endblock %}
{% block content %}
	  <section id="main-content">
		<section class="wrapper">
			<div class="">
				<div class="span6">
					<section class="panel">
						<header class="panel-heading">
							<i class="fa fa-university"></i> <h3>Treinamentos</h3>
						<!--<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
							<a href="javascript:;" class="fa fa-cog"></a>
							<a href="javascript:;" class="fa fa-times"></a>
						 </span>-->
						</header>
						<div class="panel-body">
							<div id="chart-treinamentos"></div>
						</div>
					</section>
				</div>

				<div class="span6">
					<section class="panel">
						<header class="panel-heading">
						   <i class="fa fa-university"></i> <h3>Graduações</h3>
						<!--<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
							<a href="javascript:;" class="fa fa-cog"></a>
							<a href="javascript:;" class="fa fa-times"></a>
						 </span>-->
						</header>
						<div class="panel-body chart-graduacoes">
							<div id="chart-graduacoes" class="morris-chart"></div>
							<ul class="inline text-center chart-legend">
								{% for level in member_levels%}
										<li><span class="fa fa-circle-o" style="color: {{level.level__color}}"></span> {{level.level__title}} - <small>{{level.total}}</small></li>
								{% endfor %}
 							</ul>
						</div>
					</section>
				</div>

				<div class="clearfix"></div>
			</div>

			<div class="">
				<div class="span4">
					<section class="panel">
						<header class="panel-heading">
							<i class="fa fa-user"></i> <h3>Membros</h3>
						<!--<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
							<a href="javascript:;" class="fa fa-cog"></a>
							<a href="javascript:;" class="fa fa-times"></a>
						 </span>-->
						</header>
						<div class="panel-body">
							<div id="chart-membros"></div>
						</div>
					</section>
				</div>

				<div class="span4">
					<section class="panel">
						<header class="panel-heading">
							<i class="fa fa-user"></i> <h3>Convidados</h3>
						<!--<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
							<a href="javascript:;" class="fa fa-cog"></a>
							<a href="javascript:;" class="fa fa-times"></a>
						 </span>-->
						</header>
						<div class="panel-body">
							<div id="chart-convidados"></div>
						</div>
					</section>
				</div>

				<div class="span4">
					<section class="panel">
						<header class="panel-heading">
							<i class="fa fa-user"></i> <h3>Clientes</h3>
						<!--<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
							<a href="javascript:;" class="fa fa-cog"></a>
							<a href="javascript:;" class="fa fa-times"></a>
						 </span>-->
						</header>
						<div class="panel-body">
							<div id="chart-clientes"></div>
						</div>
					</section>
				</div>
			</div>

			<div class="">

				<div class="span12">
					<section class="panel">
						<header class="panel-heading">
							<i class="fa fa-dollar"></i> <h3>Vendas</h3>
						<!--<span class="tools pull-right">
							<a href="javascript:;" class="fa fa-chevron-down"></a>
							<a href="javascript:;" class="fa fa-cog"></a>
							<a href="javascript:;" class="fa fa-times"></a>
						 </span>-->
						</header>
						<div class="panel-body">
							<div id="vendas" style="height: 250px;"></div>
						</div>
					</section>
				</div>

			</div>
		<!-- page end-->
		</section>
	</section>


	<!--{% if app_list %}
	  {% for app in app_list %}
		<div class="module">
		  <table class="table-overview applist" summary="{% blocktrans with name=app.name %}Models available in the {{ name }} application.{% endblocktrans %}">
			<caption><a href="{{ app.app_url }}" class="section">{% trans app.name %}</a></caption>
			{% for model in app.models %}
			  <tr>
				<th scope="row">{{ model.name }}</th>
				{% if model.admin_url %}
				  <td>
					<a href="{{ model.admin_url }}" class="changelink icon">{% trans 'Change' %}</a>
				  </td>
				{% else %}
				  <td>&nbsp;</td>
				{% endif %}

				{% if model.add_url %}
				  <td><a href="{{ model.add_url }}" class="addlink icon"><i
						  class="icon-plus-sign icon-alpha75"></i>{% trans 'Add' %}
				  </a></td>
				{% else %}
				  <td>&nbsp;</td>
				{% endif %}
			  </tr>
			{% endfor %}
		  </table>
		</div>
	  {% endfor %}
	{% else %}
	  <p>{% trans "You don't have permission to edit anything." %}</p>
	{% endif %}-->
{% endblock %}


{% block sidebar %}
  <!--
  <div id="content-related">
	<div class="module" id="recent-actions-module">
	  <h4 class="italic-title">{% trans 'My Actions' %}</h4>

	  {% load log %}
	  {% get_admin_log 10 as admin_log for_user user %}
	  {% if not admin_log %}
		<p>{% trans 'None available' %}</p>
	  {% else %}
		<ul class="actionlist">
		  {% for entry in admin_log %}
			<li class="{% if entry.is_addition %}addlink{% endif %}{% if entry.is_change %}changelink{% endif %}{% if entry.is_deletion %}text-error{% endif %}">

			  <i class="{% if entry.is_addition %}icon-plus{% endif %}{% if entry.is_change %}icon-pencil{% endif %}{% if entry.is_deletion %}icon-trash{% endif %} icon-alpha5"></i>

			  {% spaceless %}
				{% if entry.is_addition %}{% trans 'added'|capfirst %}{% endif %}
				{% if entry.is_change %}{% trans 'changed'|capfirst %}{% endif %}
				{% if entry.is_deletion %}{% trans 'deleted'|capfirst %}{% endif %}

				{% if entry.content_type %}
				  <span class="mini quiet">{% filter capfirst %}
					{% trans entry.content_type.name %}{% endfilter %}</span>
				{% else %}
				  <span class="mini quiet">{% trans 'Unknown content' %}</span>
				{% endif %}
			  {% endspaceless %}&nbsp;

			  {% if entry.is_deletion or not entry.get_admin_url %}
				<span class="color-grey">{{ entry.object_repr }}</span>
			  {% else %}
				<a href="{{ entry.get_admin_url }}">{{ entry.object_repr }}</a>
			  {% endif %}
			</li>
		  {% endfor %}
		</ul>
	  {% endif %}
	</div>
  </div>
  -->
{% endblock %}

{% block extrajs %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

	<script>
		$(function(){

			// Treinamentos
        //{ y: '8 Passos', a: 75 },
			Morris.Bar({
				element: 'chart-treinamentos',
				data: [
					{% for training in trainings%}
                        {% if forloop.last %}
							{
								y: '{{training.name}}',
								a: {{training.position}}
							}
                        {% else %}
                            {
								y: '{{training.name}}',
								a: {{training.position}}
							},
                        {% endif %}
					{% endfor %}
				],
				xkey: 'y',
				ykeys: ['a'],
				labels: ['Percentual de Conclusão'],
				barColors:['#8c8151']
			});

			// Graduações
			Morris.Donut({
				element: 'chart-graduacoes',
				data: [

						{% for level in member_levels%}
							{
								label: "{{level.level__title}}",
								value: {{level.total}}
							},
						{% endfor %}
				],
				colors: [
					{% for level in member_levels%}
						{% if forloop.last %}
							'{{level.level__color}}'
						{% else %}
							'{{level.level__color}}',
						{% endif %}
					{% endfor %}
				]
			});

			//Membros
			Morris.Area({
				element: 'chart-membros',
				data: [
					{% for member in members %}
						{% if forloop.last %}
							{ day: '{{member.published|date:"Y-m-d"}}', a: {{member.total}} }
						{% else %}
							{ day: '{{member.published|date:"Y-m-d"}}', a: {{member.total}} },
						{% endif %}
					{% endfor %}
				],
				xkey: 'day',
				ykeys: ['a'],
				labels: ['Membros'],
				lineColors:['#8c8151'],
				lineWidth:'0',
				grid: false,
				fillOpacity:'0.9'
			});

			//Convidados
			Morris.Area({
				element: 'chart-convidados',
				data: [
					{ y: '2009', a: 10 },
					{ y: '2010', a: 14 },
					{ y: '2011', a: 8 },
					{ y: '2012', a: 20 }
				],
				xkey: 'y',
				ykeys: ['a'],
				labels: ['Series A'],
				lineColors:['#FF0066'],
				lineWidth:'0',
				grid: false,
				fillOpacity:'0.9'
			});

			//Clientes
			Morris.Area({
				element: 'chart-clientes',
				data: [
					{% for client in clients %}
						{% if forloop.last %}
							{ day: '{{client.published|date:"d-m"}}', a: {{client.total}} }
						{% else %}
							{ day: '{{client.published|date:"d-m"}}', a: {{client.total}} },
						{% endif %}
					{% endfor %}
				],
				xkey: 'day',
				ykeys: ['a'],
				labels: ['Clientes'],
				lineColors:['#8c8151'],
				lineWidth:'0',
				grid: false,
				fillOpacity:'0.9'
			});

			// Vendas
			Morris.Line({
				element: 'vendas',
				data: [

					{% for sale in sales %}
						{% if forloop.last %}
							{ day: '{{sale.published|date:"d-m"}}', a: {{sale.total}} }
						{% else %}
							{ day: '{{sale.published|date:"d-m"}}', a: {{sale.total}} },
						{% endif %}
					{% endfor %}

				],
				xkey: 'day',
				ykeys: ['a'],
				labels: ['Valores em R$'],
				lineColors:['#FF0066']
			});

			$('#chart-graduacoes').find("path[stroke='#ffffff']").attr('stroke', 'rgba(0,0,0,0)');


		});
	</script>

{% endblock %}
