{% extends 'admin/change_list.html' %}
{% load staticfiles %}
{% load custom_tags %}
{% load i18n admin_urls %}

{% block extrastyle %}{% endblock %}

{% block extrahead %}{% endblock %}

{% block search %}{% endblock %}

{% block result_list %}

<div class="overflow">
	<div>
	{% if node.obj.parent %}

	<script>
		$('body').find('.toolbar-content').find('.object-tools').append('<a class="btn btn-success" href="/upline/member/{{node.obj.parent.member.id}}/binary/">Subir um Nível</a> <a class="btn btn-success" href="/upline/member/{{node.obj.get_root.member.id}}/binary/">Ir ao Topo</a>');
	</script>

	{% endif %}


	<section class="wrapper">
		<div class="">
			<div class="span9">


				<div class="responsive-tree">
					<ul>
						<li>
							{{node.obj|binary}}
							<ul>
								<li>
									{{node.left.obj|binary}}
									<ul>
										<li>
											{{node.left.left.obj|binary}}
											<ul>
												<li>
													{{node.left.left.left.obj|binary}}
												</li><li>
													{{node.left.left.right.obj|binary}}
												</li>
											</ul>
										</li><li>
											{{node.left.right.obj|binary}}
											<ul>
												<li>
													{{node.left.right.left.obj|binary}}
												</li><li>
													{{node.left.right.right.obj|binary}}
												</li>
											</ul>
										</li>
									</ul>
								</li><li>
									{{node.right.obj|binary}}
									<ul>
										<li>
											{{node.right.left.obj|binary}}
											<ul>
												<li>
													{{node.right.left.left.obj|binary}}
												</li>
												<li>
													{{node.right.left.right.obj|binary}}
												</li>
											</ul>
										</li><li>
											{{node.right.right.obj|binary}}
											<ul>
												<li>
													{{node.right.right.left.obj|binary}}
												</li>
												<li>
													{{node.right.right.right.obj|binary}}
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</div>

			</div>

			<div class="span3 dados">
				{{node.obj|binary}}
				{{node.left.obj|binary}}
				{{node.left.left.obj|binary}}
				{{node.left.left.left.obj|binary}}
				{{node.left.left.right.obj|binary}}
				{{node.left.right.obj|binary}}
				{{node.left.right.left.obj|binary}}
				{{node.left.right.right.obj|binary}}
				{{node.right.obj|binary}}
				{{node.right.left.obj|binary}}
				{{node.right.left.left.obj|binary}}
				{{node.right.left.right.obj|binary}}
				{{node.right.right.obj|binary}}
				{{node.right.right.left.obj|binary}}
				{{node.right.right.right.obj|binary}}
			</div>

		</div>

	</section>

</div>
</div>
{% endblock %}

{% block pagination %}{% endblock %}

{% block object-tools-items %}

{% endblock %}

{% if not is_popup %}
	{% block breadcrumbs %}
	<ul class="breadcrumb">
		<li>
		<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
		<span class="divider">&raquo;</span>
		</li>
		<li>
		<a href="{% url 'admin:app_list' app_label=cl.opts.app_label %}">{% firstof cl.opts.app_config.verbose_name app_label|capfirst|escape %}</a>
		<span class="divider">&raquo;</span>
		</li>
		<li>
			<a href="{% url cl.opts|admin_urlname:'changelist' %}">
			{{ cl.opts.verbose_name_plural|capfirst }}</a>
		<span class="divider">&raquo;</span>
		</li>
		<li class="active">
		{{ verbose_name }}
		</li>
	</ul>
	{% endblock %}
{% endif %}