{% load custom_tags %}
<div class="{{obj.id|is_disabled}}"><a href="/upline/member/{{obj.id}}/binary/">{{obj.name}}</a>
	<div class="binary-tooltip">
		<h6>{{obj.name}}</h6>
		<div><strong>Login:</strong> {{obj.user.username}}</div>
		<div class="color"><strong>Patrocinador:</strong> {{obj.parent.user.username}}</div>
		<div><strong>Graduação:</strong> {{obj.level.title}}</div>
		<div class="color"><strong>Email:</strong> {{obj.email}}</div>
		<div><strong>Telefone:</strong> {{obj.phone}}</div>
		<div class="color"><strong>N&ordm; de convidados:</strong> {{obj.nr_invided}}</div>
		<div><strong>N&ordm; de contatos:</strong> {{obj.nr_contacts}}</div>
		<div class="color"><strong>N&ordm; de clientes:</strong> {{obj.nr_clients}}</div>
	</div>
</div>