<!DOCTYPE html>
<html>
<head>
    <title>Convite</title>
</head>
<body>

Olá {{name}}.<br/><br/>

Estou convidando você para baixar o aplicativo {{app}}.<br/>
Você terá mais informações sobre o desenvolvimento do negócio, novas tendências, além de conhecer todas as linhas de produtos e lançamentos.<br/><br/>

Após baixar o aplicativo, você deverá entrar como convidado e utilizar meu ID: {{member.user.username}}.<br/><br/>

Link para baixar o aplicativo na Google Play<br/>
{{link}}<br/><br/>

Atenciosamente.<br/>
{{member.name}}<br/>
</body>
</html>