<!DOCTYPE html>
<html>
<head>
    <title>Convite</title>
</head>
<body>
    Olá {{name}}!<br/>
    Seu amigo {{member.name}} está convidado você <br/>
    para baixar o aplicativo {{app}} e conferir <br/>
    mais informações sobre essa grande oportunidade de negócio.<br/>

    No {{app}} você encontra todas as informações <br/>
    pra você tirar todas as suas dúvidas. Mas caso queira também, <br/>
    temos um chat exclusivo para você perguntar o que for necessário.<br/>

    Aguardo você lá.<br/>

    Link do app.<br/>
    {{link}}<br/>

    Atenciosamente.<br/>

    {{member.name}}<br/>
</body>
</html>