/* GENERAL ************************************************************************************************
***********************************************************************************************************/

html, body { height: 100%; }

html { padding: 60px 0; overflow: hidden; }

body { background: url(../images/bg.jpg) 0 0 no-repeat !important; background-size: cover !important; font-family: "Roboto", serif; min-height: 100%; }

h1, h2, h3, h4, h5, h6, #content h1, #content h2, #content h3, #content h4 { text-shadow: none !important; }

#wrap { background: none; height: auto; min-height: auto; }

textarea,
textarea:focus,
input,ƒ
input:focus { box-shadow: none !important; border: none !important; outline: none; outline-color: transparent; outline-style: none; }

a,
select { outline: none !important; }

.alert { border-radius: 0; }


/* LOGIN ************************************************************************************************
***********************************************************************************************************/

.login { height: 100%; margin: 0; min-height: 100%; padding: 0; position: relative; width: 100%; }
.login #wrap { height: 100%; margin: 0; min-height: 100%; padding: 0; position: relative; }

.login #wrap #content-main { background-color: rgba(0, 0, 0, 0.3); box-sizing: content-box; border-radius: 0; color: white; display: block; height: 100%; min-height: 100%; left: 0; margin: -60px auto 0; overflow: auto; padding: 0 50px; position: relative; text-align: center; top: 0; width: 360px; }

.login #wrap #push { display: none; }

.login #content-main form input[type=text],
.login #content-main form input[type=password] { background-color: rgba(0, 0, 0, 0.2); border: none; border-radius: 4px; color: #fff; font-size: 13px; line-height: 18px; margin: 0; padding: 10px 3%; width: 94%; }
.login #content-main form input[type=text] { background: url(../images/icon-user.png) 97% center no-repeat; background-color: rgba(0, 0, 0, 0.2); }
.login #content-main form input[type=password] { background: url(../images/icon-pass.png) 97% center no-repeat; background-color: rgba(0, 0, 0, 0.2); }

.login #wrap section.controls { display: block; margin: 0 0 15px; text-align: left; position: relative; }
.login #wrap section.controls .checkbox { padding: 0; display: inline-block; margin: 0; }
.login #wrap section.controls a { color: rgba(63,183,165,1); font-size: 12px; display: inline-block; position: absolute; right: 0; text-decoration: none; top: 0; transition: all linear 0.2s; }
.login #wrap section.controls a:hover { color: #279d88 }


.login #content-main h1 { background: rgba(0, 0, 0, 0) url(../images/logo-login.png) repeat scroll 0 0 / 278px 132px; display: block; font-size: 0; height: 132px; line-height: 0; margin: 50px auto 0; overflow: hidden; padding: 0; text-indent: 100%; width: 278px; }


.login #content-main .submit-row { background: none; border-top: 1px solid #000; box-shadow: none; margin: 0; padding: 25px 0 0; }

.login #content-main .submit-row .btn-info { background: rgba(63,183,165,1); border: none; color: #fff; font-size: 14px; padding: 10px 0; text-shadow: none; width: 100%; transition: all linear 0.2s; }
.login #content-main .submit-row .btn-info:hover { background: #279d88 }


/* HEADER ************************************************************************************************
***********************************************************************************************************/

.header { background: rgba(0,0,0,0.3); left: 0; overflow: visible; position: fixed; text-shadow: none; top: 0; z-index: 999; width: 100%; }
.header i { background: none; }

.header #branding { border: none; min-width: 250px; }


.header .header-content.header-content-first { border-left: 1px solid #000; height: 35px; padding: 25px 0 0 20px; }

.header .header-content .time { color: #d4d4d4; font-weight: normal; }
.header .header-content .header-column i { color: rgba(63,183,165,1); margin: 0 0 0 5px; }


.header #user-menu { display: inline-block; margin: 0; position: relative; }
.header #user-menu dt { cursor: pointer; transition: all linear 0.2s; }
.header #user-menu dt:hover,
.header #user-menu dt.active { color: rgba(63,183,165,1); }
.header #user-menu dt i { margin: 0 0 0 5px; }
.header #user-menu dd { background: #fff; display: none; padding: 10px; position: absolute; right: -5px; top: 40px; min-width: 160px; width: auto; }
.header #user-menu dd:before {
	display: block;
	content: " ";
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 0 5px 5px 5px;
	border-bottom-color: #fff;
	position: absolute;
	top: -5px;
	right: 5px;
	z-index: 1;
}

.header #user-menu dd a { border-radius: 4px; display: block; white-space: nowrap; padding: 5px; transition: all linear 0.2s; }
.header #user-menu dd span.active { background: rgba(63,183,165,1); color: #fff; border-radius: 4px; display: block; white-space: nowrap; padding: 5px; transition: all linear 0.2s; }
.header #user-menu dd a i ,
.header #user-menu dd span.active i { float: right; margin: 3px 0 0; }
.header #user-menu dd a:hover { background: rgba(63,183,165,1); color: #fff; text-decoration: none; }

.header #user-tools .user-links { display: block; margin: 0; }


.suit-columns { padding-left: 250px; }

/* SIDEBAR ************************************************************************************************
***********************************************************************************************************/

#suit-left { left: 0; margin: 0; position: fixed; width: 250px; }

.nav-quick-search { background-color: rgba(255, 255, 255, 0.2); border-radius: 4px; margin: 20px 15px 2px; position: relative; }

.nav-quick-search .search-query { background: none; color: rgba(255, 255, 255, 1);
		border: none;
		border-radius: 4px;
		padding: 8px 4%;
		width: 76%;
		height: 18px;
}

.nav-quick-search .submit {
		background: none;
		display: block;
		height: 34px;
		right: 0;
		top: 0px;
		width: 16%;
		z-index: 999;
}

.nav-quick-search i { color: rgba(63,183,165,1); display: inline-block; font-size: 14px; position: absolute; text-align: center; line-height: 34px; z-index: 1; width: 16%;  }



/*background-color: rgba(0, 0, 0, 0.2);
		border: medium none;
		border-radius: 4px;
		color: #fff;
		font-size: 13px;
		line-height: 18px;
		margin: 0;
		padding: 10px 3%;
		width: 94%;
}*/


.left-nav > ul > li > a {
	border: none;
	display: inline-block;
	line-height: 40px;
	padding: 0 5%;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.9);
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	width: 90%;
	position: relative;
	z-index: 2;
	font-weight: 400;
	text-shadow: 0;
}
.left-nav > ul > li > a > i {
	color: rgba(255, 255, 255, 0.9);
	font-size: 14px;
	margin-right: 8px;
	width: 15px;
	display: inline-block;
	text-align: center;
}

.left-nav > ul > li.active > a > i { background: none; }
.left-nav > ul > li > a  > b.dropdown-plus {
	float: right;
	line-height: 40px;
	color: rgba(0, 0, 0, 0.2);
}
.left-nav > ul > li > a:after {
	content: "";
	display: none;
	width: 3px;
	height: 39px;
	background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%)  !important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.left-nav > ul > li.active > a:after {
	background: rgba(63, 183, 165, 1) !important;
	content: "";
	margin: 0;
	float: none;
	width: 100%;
}

.left-nav > ul > li ul {
	background: none;
	display: none;
	border: none;
	border-radius: 0;
	background-color: none;
	margin: 0;
	padding: 0;
	box-shadow: none;
	list-style: none;
	transition: all linear 0.3s;
}

.left-nav > ul > li.active ul {
	padding: 10px 0 0;
}

.left-nav > ul > li:not(.active):hover > ul {
	position: relative;
	left: 0;
	display: none;
	padding: 0;
	margin: 0;
	border-radius: none !important;
	box-shadow: none;
	z-index: 10;
}
.left-nav > ul > li:not(.active):hover > ul li,
.left-nav > ul > li:not(.active):hover > ul li a {
	background: none;
	border: none !important;
}

.left-nav > ul > li > ul li a { color: rgba(255,255,255,0.9); padding: 4px 0 4px 50px; transition: all linear 0.2s; }

.left-nav > ul > li:not(.active):hover > ul li a { padding: 4px 0 4px 50px; }

.left-nav > ul > li ul li a:hover { color: rgba(63,183,165,1); background-color: none; text-shadow: none; }

.left-nav > ul > li ul li.active a { color: rgba(63,183,165,1) }

.left-nav > ul > li ul li.active:hover a { background: none; }

.left-nav > ul > li:not(.active):hover { background: none; }




/* CONTENT ************************************************************************************************
***********************************************************************************************************/

#suit-center { position: relative; z-index: 998; overflow-y: scroll; height: 100%; }

#content-main { color: rgba(255,255,255,0.9); }



/* BREADCRUMB */
.breadcrumb { background: none; padding: 0; }
.breadcrumb li { text-shadow: none; }
.breadcrumb li.active { color: rgba(63,183,165,1); font-weight: normal; }
.breadcrumb li a { color: rgba(255,255,255,0.6); transition: all linear 0.2s; }
.breadcrumb li a:hover { color: rgba(63,183,165,1); text-decoration: none; }


/* FOOTER */
.footer { bottom: 0; left: 0; position: absolute; width: 100%; }
.footer .content .branding { padding: 10px 0 0; }

/* PAGE HEADER */
h1.page-title { color: rgba(255,255,255,0.8); text-shadow: none; }


.toolbar-content { background: rgba(0,0,0,0.1); border-radius: 5px; margin: 0 0 10px; padding: 12px 15px 0; }


/* BOTÕES */
.btn { background: rgba(63,183,165,1); box-shadow: none; border: none; border-radius: 0; color: rgba(255,255,255,1);
		cursor: pointer;
		display: inline-block;
		font-size: 12px;
		line-height: 18px;
		margin-bottom: 0;
		padding: 8px 12px;
		text-align: center;
		text-shadow: none;
		vertical-align: middle;
		transition: all linear 0.2s;
}

.btn.btn-primary {
	background: rgba(88,212,201,1);
	transition: all linear 0.2s;
}

.btn.btn-success,
button.btn {
	background: rgba(63,183,165,1);
	transition: all linear 0.2s;
}


.btn.btn-primary:hover,
.btn.btn-success:hover { background: rgba(39,157,136,1); }

/* TABELAS */
.table { background: none; border: none; color: rgba(255,255,255,0.8); }

.table thead th, .table thead td { color: rgba(255,255,255,1); background: rgba(0,0,0,0.2); border: none; box-shadow: none; font-weight: normal; text-shadow: none;}

.table thead th a, .table thead td a { color: rgba(255,255,255,1); font-weight: bold; }

.table thead th a:hover, .table thead td a:hover { color: rgba(63,183,165,1); }


.table th, .table td { background: none; border-top: solid 1px rgba(255,255,255,0.2); box-shadow: none; text-shadow: none; }
.table tr:not(:first-child) th, .table tr:not(:first-child) td { border-top: solid 1px rgba(255,255,255,0.2); }

.table thead th.sorted { background: rgba(255,255,255,0.3); }

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th { background: rgba(255,255,255,0.1); }

.table-bordered th, .table-bordered td { border-left: none }

.table.table-condensed tbody th, .table.table-condensed tbody td { padding: 8px 10px; }

.table tr:hover,
.table tr:hover td,
.table tr:hover th { background-color: #f92672 !important; }

.table tr td a:hover,
.table tr th a:hover { color: rgba(63,183,165,1); text-decoration: underline; }

.table tbody > tr.selected:nth-child(2n+1) > td, .table tbody > tr.selected:nth-child(2n+1) > th { background-color: #f92672 !important; }
.table tbody > tr.selected > th,
.table tbody > tr.selected > td { background-color: #f92672; border-top: solid 1px rgba(255,255,255,0.2); box-shadow: none; }

.table tbody > tr.selected:nth-child(odd) > td,
.table tbody > tr.selected:nth-child(odd) > th { background-color: #f92672; }

.table#tree tr td { white-space: nowrap; }

.span.fancytree-title { color: rgba(255,255,255,1) !important; }


.actions { color: rgba(255,255,255,0.8); }


/*HOME*/
section.panel {
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	color: rgba(255,255,255,0.8);
	clear: both;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 15px 0 0;
	position: relative;
	width: auto;
}

section.panel .panel-heading {
	border-bottom: none;
	height: 40px;
	line-height: 40px;
	padding: 0 15px;
	position: relative;
}

section.panel .panel-heading i { background: rgba(63,183,165,1); border-radius: 15px; color: rgba(255,255,255,0.9); float: left; font-size: 16px; height: 30px; line-height: 30px; margin: 2px 8px 0 15px; text-align: center; width: 30px; }
section.panel .panel-heading h3 {
		color: rgba(255,255,255,0.9);
		display: inline-block;
		font-size: 22px;
		font-weight: 400;
		line-height: 26px;
		position: relative;
		text-shadow: none !important;
		padding: 0;
		font-family: "Roboto Slab", serif;
}

section.panel .panel-body	{
	background: none;
		border: none;
		border-radius: 0;
		padding: 20px 15px 15px;
}


/* CONVITES */
#invite-model { padding: 0 0 30px; }
#invite-model h3 { border-bottom: solid 1px rgba(63,183,165,1); margin: 0 0 25px; padding: 0 0 0; text-shadow: none;  }


/* PAGINAÇÃO */
.pagination ul > li > a,
.pagination ul > li > span { background-color: rgba(255,255,255,0.2); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }

.pagination ul li.active a,
.pagination ul li.active span { background: rgba(63,183,165,1); }

/* morris */
.morris-chart text {
	fill: white;
	font-family: "Roboto Slab", serif !important; }
.morris-chart svg {
	width: 100% !important; }

#chart-treinamentos { height: 298px; }

#chart-graduacoes { height: 250px; margin: 0 0 20px; }
.chart-graduacoes .chart-legend { display: block; width: 100%; }

/* FORMS */
.checkbox label { margin-bottom: 0 }

.form-horizontal .control-group .control-label,
.form-horizontal .control-group .controls,
.box, .well { background: rgba(0,0,0,0.1); border: none; }

.form-horizontal .control-group .control-label { background: rgba(255,255,255,0.1); border: none; padding: 12px 15px 10px 10px; }

.search-container input[type=text],
.control-group input[type=text],
.control-group input[type=email],
.control-group input[type=password],
.control-group input[type=number],
.control-group input[type=color] { background-color: rgba(255, 255, 255, 0.2); border: none; border-radius: 4px; color: #fff; font-size: 12px;
		line-height: 18px; padding: 8px 12px; }
.search-container select,
.actions select,
.control-group select { border: none; border-radius: 4px; color: #fff; font-size: 12px; line-height: 18px; padding: 8px 24px 8px 12px; height: 34px; background: url(../images/arrow-down.gif) right center no-repeat; background-color: rgba(255, 255, 255, 0.2); -webkit-appearance: none; -moz-appearance:none;*/ }

.search-container select option,
.actions select option,
.control-group select option { background: rgba(0,0,0,0.5); color: rgba(255,255,255,0.8); padding: 5px; }

.control-group select[multiple] { height: auto; background-image: none; }
.control-group select[multiple] option { background: none; }

.control-group textarea { background-color: rgba(255, 255, 255, 0.2); border: none; border-radius: 4px; color: #fff; font-size: 12px; line-height: 18px; padding: 8px 12px; height: 80px;  }

.form-horizontal .control-group .controls .selector .selector-filter input,
.form-horizontal .control-group .controls .selector .selector-available select { border-radius: 4px; }

.search-container select { margin-top: 6px; }

.actions button { border-radius: 4px; }

.search-container .search-filters { margin-right: -3px; }
.search-container input[type=submit]{ border-radius: 4px; }

#avatar-group h2 { font-weight: normal; text-shadow: none; margin: 15px 0; }

h2.legend, .form-horizontal fieldset .legend {  font-weight: normal; text-shadow: none; }


.form-horizontal fieldset .legend { border-top-left-radius: 4px; border-top-right-radius: 4px; position: relative !important; margin: 0; background: rgba(0,0,0,0.2); padding-left: 1%;  width: 99%; }

.form-horizontal .inline-group .inline-related { border: none; }
.form-horizontal .inline-related h3 { background: rgba(0,0,0,0.2); font-size: 13px; font-weight: normal; text-shadow: none; }

.form-horizontal .control-group .controls .selector .selector-filter { margin-bottom: 10px; }
.form-horizontal .control-group .controls .selector .selector-filter label { margin-right: -15px; opacity: 0.6; top: 6px; }

.form-horizontal .control-group .controls p.datetime br { display: none; }

.datetimeshortcuts a:last-child {  margin-left: 0; }


/* MENU BOX */
.menu-box li a { border-bottom: 1px solid rgba(255,255,255,0.2); color: rgba(255,255,255,0.8); }
.menu-box li a:hover { color: rgba(0,0,0,0.6); }


/*.control-group .add-related, .inline-group .add-related, .control-group .related-lookup, .inline-group .related-lookup, .control-group .change-related, .inline-group .change-related { background: none; }


.control-group .add-related:before, .inline-group .add-related:before, .control-group .related-lookup:before, .inline-group .related-lookup:before, .control-group .change-related:before, .inline-group .change-related:before {
		content: "\f000";
		font-family: FontAwesome;
		font-style: normal;
		font-weight: normal;
		text-decoration: inherit;
		color: #000;
		font-size: 18px;
		padding-right: 0.5em;
		position: absolute;
		top: 10px;
		left: 0;
}*/
